*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: poppins;
}
.App{
  display:flex;justify-content:center;
  align-items:center;
  min-height:max-content;
  flex-wrap:wrap;
  padding: 25px;
}
.comment{
  font-size:'1.05rem';
  font-weight: bold;
}
.dialog{
  border-radius: 5px;
  box-shadow: 0 0 10px 0 grey !important;
}
.comment-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card{
  height:min-content;
  width:90vw;
  padding:15px;
  margin-block:10px;
  box-shadow:2px 2px 5px 0 grey;
}
.like{
  color:red;
}
.navbar-container{
   margin-inline:auto;
   display:flex;
   justify-content:center;
   align-items:center;
   padding:15px;
   margin-block:15px;
   background:aliceblue;
   border-radius:10px;
   flex-direction:row;
   width:90vw;
}
.navbar-search{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.title{
  margin-inline-start:15px;
  margin-inline-end:auto;
}
.outer-container{
  width:50%
}
@media (max-width:700px) {
  .navbar-container {
    flex-direction: column;
  }
  .title{
    margin-inline: auto;
    margin-bottom: 15px;
  }
  .navbar-search{
    width:100%;
    /* justify-content: center; */
  }
  .outer-container{
    width: 100%;
  }
  .input{
    display: none;
  }
  .search-input{
    width: 200px;
  }
  .delete{
    flex-direction: column;
  }
  .alert-box{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  }
}
.navbar-search{
  min-width: 50%;
  gap: 15px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}
.search-input{
  width:100%;
}
.delete{
  font-size:1.25rem;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
}
.alert-box{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}